# Ignore version control files
.git
.gitignore

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore local data directory (it will be mounted as a volume)
data

# Ignore Node.js dependencies folder (if any in the future)
node_modules

# Ignore environment files
.env
